*.vscode
myenv/*
quiz/registration/*.pyc
quiz/registration/migrations/*
quiz/db.sqlite3
quiz/registration/migrations/
quiz/dashboard/migrations
quiz/dashboard/migrations/*
quiz/dashboard/api/*
__pycache__/
