{% extends 'registration/registration_base.html' %}

{% block user_register %}
<form method="POST" style="border:1px solid #ccc">
    {% csrf_token %}
  <div class="container">
    <h1>Login</h1>
    <hr>

    <label for="name"><b>{{form.username.label}}</b></label>
    {{form.username}}

    <label for="psw"><b>{{form.password.label}}</b></label>
    {{form.password}}

    {{form.errors}}

    {% for message in  messages %}
    <p>{{message}}</p>
    {% endfor %}

    <div class="clearfix" style="display: flex;justify-content: center;">
      
      <button type="submit" class="loginbtn" >Login</button>
    </div>
    <div class="clearfix" style="text-align: center;">
        Don't have an account? <a href="{% url 'registration:register' %}" style="color: darkgoldenrod;"> Signup</a>
        
      </div>

  </div>
</form>
{% endblock %}