{% extends 'registration/registration_base.html' %}


{% block user_register %}
<form method="POST" style="border:1px solid #ccc">
    {% csrf_token %}
    
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="name"><b>{{form.username.label}}</b></label>
    {{form.username}}
    <label for="email"><b>{{form.email.label}}</b></label>    
    {{form.email}}
    <label for="psw"><b>{{form.password1.label}}</b></label>
    {{form.password1}}

    <label for="psw-repeat"><b>{{form.password2.label}}</b></label>    
    {{form.password2}}
    <div class="clearfix"  style="display: flex;justify-content: center;">
      
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
    <div class="clearfix" style="text-align: center;">
        {{form.errors}}
        Already have an account? <a href="{% url 'registration:login' %}" style="color: darkgoldenrod;"> Login</a>
        
      </div>
  </div>
</form>
{% endblock %}

