{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block myblock %}
{% load custom_tags %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/questionbox.css' %}" >




{% if quiz.user_progress_obj and quiz.complete == True %}
<div class="questionbox" >
    <h6 style="text-align: center;margin-top: 10%;"> You have completed the test.</h6>
    <h3 style="text-align: center;margin-top: 1%;">  {{quiz.msg}}</h3>
    <div class="container" >
        
        
        {% for user_answers in quiz.user_progress_obj %}
            
            
                    {% if user_answers.mcq_answer %}
                        
                        <div class="col p-3 text-light h6 {% if user_answers.mcq_answer.is_correct == True %}bg-success{% else %}bg-danger{% endif %}" style="padding: 1%;">
                            {{user_answers}}
                        </div>
                    
                        {% else %}
                    
                            <div class="col p-3 text-light h6 {% if user_answers.mcq_answer %}bg-success{% else %}bg-danger{% endif %}" style="padding: 1%;">
                                {{user_answers}}
                            </div>
                        {% endif %}
          {% endfor %}
          
        
      </div>
</div>
{% else %}

<form method="POST" id="questions_form">
{% csrf_token %}
    
    
    
    
    <div class="questionbox" >
        {% if quiz.questions_obj %}
        <p id="boxtitle" style="text-align: center">Choose any one answer from the following given options</p>
        <div class="col text-right" id="timer-box" style="text-align: center;margin-right: 2%;"></div>
        <div class="col text-right"  style="text-align: right;margin-right: 2%;font-weight: bold;">Min Score - {{quiz.min_score}}</div>
        <div class="radio-toolbar" id="subject_div">


            {% for question in quiz.questions_obj %}
            
        
            <input type="hidden"  class="interval" value="{{question.subject.interval}}">
            <br>
            <p>{{forloop.counter}}. Q - {{question.question}}</p>
            <hr>
            
            
                {% if question.type.type_name == 'MCQ' %}
         
            
                    <div class="container overflow-hidden" style="margin-left: 1%;">
                        <div class="row gx-5">
                            {% for answer in quiz.answers_obj %}
                           
                                {% if answer.question == question  %}
                                    

                                    <div class="col-3">
                                     <span>                                         
                                        
                                        <input class="ans" type="radio" id="radio_{{answer.id}}" name="{{question.id}}" value="{{answer.id}}" onclick="store_answers('save');" {% for submit in quiz.user_progress_obj %}{% if submit.mcq_answer.id == answer.id %}checked{% endif %}{% endfor %}>
                                        <label for="radio_{{answer.id}}">{{answer.answer}}</label>    
                                        
                                    </span>
                                        
                                    </div>
                                {% endif %}
                            {% endfor %}
          
                        </div>
                        <hr>
        
                      </div>
                      {% else %}

                      <div class="col">
                        Ans - <input type="text" class="ans" id="usr" name="{{question.id}}" value="{% for submit in quiz.user_progress_obj %}{% if submit.question.id == question.id %}{{submit.one_word_answer}}{% endif %}{% endfor %}" oninput="store_answers('save');">
                    </div>
                      
                      {% endif %}
            {% endfor %}
            <div style="margin: 2%;" >
                <a href="{% url 'dashboard:user_dashboard' %}" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>

        {% else %}
        <div style="margin-top: 2%;text-align: center;">
            <h1 style="text-align: center;margin-top: 15%;">No Questions Available</h1>
            <a href="{% url 'dashboard:user_dashboard' %}" class="btn btn-danger" >Go Back</a>
        </div>
        {% endif %}
    </div>    

    
</form>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

const url = window.location.href



var quizForm = document.getElementById('questions_form')
var csrf = document.getElementsByName('csrfmiddlewaretoken')
$(document).ready(function(){

var timerBox = document.getElementById('timer-box')
var time = $(".interval").val()



    
        console.log(time)
    if (time.toString().length < 2) {
        console.log('222')
        timerBox.innerHTML = `<b>0${time}:00</b>`
    } else {
        console.log('2222')
        timerBox.innerHTML = `<b>${time}:00</b>`
    }

    let minutes = time - 1
    let seconds = 60
    let displaySeconds
    let displayMinutes

    const timer = setInterval(()=>{
        seconds --
        if (seconds < 0) {
            seconds = 59
            minutes --
        }
        if (minutes.toString().length < 2) {
            displayMinutes = '0'+minutes
        } else {
            displayMinutes = minutes
        }
        if(seconds.toString().length < 2) {
            displaySeconds = '0' + seconds
        } else {
            displaySeconds = seconds
        }
        if (minutes === 0 && seconds === 0) {
            timerBox.innerHTML = "<b>00:00</b>"
            setTimeout(()=>{
                clearInterval(timer)
                status = "redirect"
                
                store_answers(status)
            }, 500)
        }

        timerBox.innerHTML = `<b>${displayMinutes}:${displaySeconds}</b>`
    }, 1000)
    



    })

var store_answers = (status) => {
    var elements = [...document.getElementsByClassName('ans')]
    
    
    var data = {}

        
    
    var csrf_token = csrf[0].value
    elements.forEach(el=>{
        
        if(el.type == 'radio')
        {   
            
            if (el.checked) {
                
                data[el.name] = el.value
            } else {
                
                if (!data[el.name]) {
                    data[el.name] = null
                }
            }
        }
        else if(el.type == 'text'){
            // data['type'] = 'One'
            if(el.value){
                data[el.name] = el.value    
            }
            else{
                data[el.name] = null
            }
            
        }
        if(status == "redirect"){
            data['complete'] = "true";
        }
        else{
            data['complete'] = "false";
        }
    })

    console.log(data)

    $.ajax({
        type: 'POST',
        url: `${url}/save/`,
        data: data,
        headers: {
           'X-CSRFToken': csrf_token
         },
        success: function(response){

            if(status == 'redirect'){
                window.location.href = url;    
            }

            
           
        },
        error: function(error){
            console.log(error)
        }
    })
}

quizForm.addEventListener('submit', e=>{
    e.preventDefault()
    status = "redirect"
    complete = "true"
    store_answers(status)
})

</script>
{% endblock %}

