{% extends "dashboard/dashboard.html" %}
{% load static %}
{% block myblock %}

<link rel="stylesheet" href="{% static 'css/type_style.css' %}" >

<h2>Welcome</h2>
<form method="POST">
{% csrf_token %}
    <div class="boxform" ><span id="boxtitle">Choose a exam type</span>

        <div class="radio-toolbar" id="subject_div">
            {% for subject in quiz_types.subjects_obj %}
            <input type="radio" id="radio_{{subject.id}}" name="subject" value="{{subject.id}}" onclick="show_start()">
            <label for="radio_{{subject.id}}">{{subject}}</label>
            
            
            {% endfor %}
            
           
        </div>
        

        <button id="submit" class="nxt_btn" type="submit" value="Submit" style="display: none;">Start</button>
        
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function show_start(){
    $( "#submit" ).show("slow");
}


</script>


{% endblock %}

